<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Timelog</title>
</head>
<body>
    <h1>Timelog</h1>
    <table>
        <thead>
            <tr>
                <td><strong>View</strong></td>
                <td><strong>Method</strong></td>
                <td><strong>Status</strong></td>
                <td><strong>Mean</strong></td>
                <td><strong>Minumum</strong></td>
                <td><strong>Maximum</strong></td>
                <td><strong>Count</strong></td>
                <td><strong>Standard Deviation</strong></td>
            </tr>
        </thead>
        {% for record in data %}
            <tr>
                <td>{{ record.view }}</td>
                <td>{{ record.method }}</td>
                <td>{{ record.status }}</td>
                <td>{{ record.mean }}</td>
                <td>{{ record.minimum }}</td>
                <td>{{ record.maximum }}</td>
                <td>{{ record.count }}</td>
                <td>{{ record.stdev }}</td>
            </tr>
        {% endfor %}
    </table>
    {% if errors %}
    <h2>Errors</h2>
    <p>{{ errors|length }} errors found in log file.</p>
    <table>
        <thead>
            <tr>
                <td><strong>Line Number</strong></td>
                <td><strong>Content</strong></td>
            </tr>
        </thead>
        <tbody>
        {% for error in errors %}
            <tr>
                <td>{{ error.line_number }}</td>
                <td>{{ error.line_content }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No errors found in log file.</p>
    {% endif %}
</body>
</html>